/** IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");

/*! GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #9fa2a8;
}

::selection {
  background-color: #3e4651;
  color: #1f2632;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.logo-box {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
.logo-box span::before {
  content: " ";
  display: inline-block;
  width: 3px;
  height: 50px;
  background-color: #676cdb;
  border-radius: 50px;
  margin: 0 0.1rem;
  transform: rotate(20deg);
  position: relative;
  top: 0.7rem;
  right: 0.2rem;
}

.sub-title {
  font-size: 20px;
  text-transform: capitalize;
}

.script-font {
  color: #3e4651;
  font-family: "Pacifico", cursive;
  font-size: 110px;
  font-weight: 500;
  text-transform: capitalize;
  position: absolute;
  transform: rotate(-12deg);
  z-index: -1;
}

#index .navigation,
#about .navigation,
#blog .navigation,
#contact .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#index .navigation .nav-bar ul,
#about .navigation .nav-bar ul,
#blog .navigation .nav-bar ul,
#contact .navigation .nav-bar ul {
  list-style-type: none;
}
#index .navigation .nav-bar ul li,
#about .navigation .nav-bar ul li,
#blog .navigation .nav-bar ul li,
#contact .navigation .nav-bar ul li {
  display: inline-block;
  margin: 0 1rem;
  transition: 0.1s ease-in-out;
}
#index .navigation .nav-bar ul li a,
#about .navigation .nav-bar ul li a,
#blog .navigation .nav-bar ul li a,
#contact .navigation .nav-bar ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
#index .navigation .nav-bar ul .active a::after,
#about .navigation .nav-bar ul .active a::after,
#blog .navigation .nav-bar ul .active a::after,
#contact .navigation .nav-bar ul .active a::after {
  background-color: #676cdb;
}
#index .navigation .nav-bar ul li a::after,
#about .navigation .nav-bar ul li a::after,
#blog .navigation .nav-bar ul li a::after,
#contact .navigation .nav-bar ul li a::after {
  content: "";
  background-color: #9fa2a8;
  border-radius: 50px;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 4px;
  margin: 0 0 0 4px;
  transition: 0.1s ease-in-out;
}
#index .navigation .nav-bar ul li:hover a::after,
#about .navigation .nav-bar ul li:hover a::after,
#blog .navigation .nav-bar ul li:hover a::after,
#contact .navigation .nav-bar ul li:hover a::after {
  background-color: #676cdb;
}
#head-text {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
#sub-text {
  font-size: 20px;
  font-weight: 500;
}

/* ! INDEX PAGE */

#index {
  height: 95vh;
  background-color: #222a36;
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
}

#skills {
  height: 120vh;
  background-color: #1f2632;
  position: relative;
  padding: 10em 0;
  z-index: 1;
}
#skills .flex-skills {
  display: grid;
  column-gap: 10rem;
  grid-template-columns: repeat(2, 1fr);
  position: inherit;
}
#skills .flex-skills .script-font {
  top: 14%;
}
#skills .flex-skills .flex-skills-left #skills-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15% 0;
}
#skills .flex-skills .flex-skills-left #skills-columns * {
  padding-top: 15px;
}
#skills .flex-skills .flex-skills-left #skills-columns ul {
  list-style-type: none;
}
#skills .flex-skills .flex-skills-left #skills-columns ul li {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

#skills .flex-skills .flex-skills-left #skills-columns h2 {
  color: #3aafc9;
  font-size: 35px;
  font-weight: 900;
}
#skills .flex-skills .flex-skills-right * {
  padding-bottom: 5%;
}
#skills .flex-skills .flex-skills-right #head-text {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
#skills .flex-skills .flex-skills-right #sub-text {
  font-size: 20px;
  font-weight: 500;
}
#skills .companies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
#skills .companies div {
  font-size: 30px;
  font-weight: 700;
  padding: 0 1rem;
}
#skills .flex-cards {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7rem;
  justify-content: center;
  align-items: center;
}
#skills .flex-cards #cards {
  background-color: #29313d;
  height: 48vh;
  width: 40vh;
  font-family: "pacifico", sans-serif;
  padding: 9rem 2rem 0;
  margin: 0 1rem;
}
#skills .flex-cards #cards * {
  color: #fff;
}
#skills .flex-cards #cards:nth-child(2) {
  background-color: #676cdb;
}
#skills .flex-cards #cards:nth-child(2) .material-icons {
  color: #fff;
}
#skills .flex-cards #cards .material-icons {
  padding-bottom: 2rem;
  font-size: 50px;
  color: #676cdb;
}
#skills .flex-cards #cards h3 {
  font-weight: 500;
  font-size: 35px;
}

#works {
  height: 290vh;
  background-color: #222a36;
  position: relative;
  padding-top: 25rem;
  z-index: -1;
}
#works .script-font {
  top: 25%;
  left: 17%;
}
#works p {
  padding-top: 2%;
}
#works #head-text {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
#works #sub-text {
  font-size: 20px;
  font-weight: 500;
}
#works .flex-works {
  padding-top: 13rem;
}
#works p {
  padding-top: 2rem;
}
#works .flex-works {
  display: grid;
}
#works .flex-works #flex-works-right {
  justify-self: end;
  background-color: #29313d;
  border-radius: 20px;
  height: 80vh;
  width: 130vh;
}

#works .flex-works #flex-works-right .date-box {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 15rem;
}
#works .flex-works .date-box div:first-child {
  display: inline-block;
  background-color: #f1b457;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 1.2rem;
  z-index: 1;
}
#works .flex-works .date-box div:last-child {
  display: inline-block;
  background-color: #29313d;
  border-radius: 50px;
  color: #3e4651;
  font-weight: bold;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 1.2rem;
  position: absolute;
  z-index: -1;
  left: 3.1rem;
}
#works .flex-works span {
  font-weight: lighter;
  font-family: "roboto", sans-serif;
  color: #3e4651;
}
#works .flex-works #flex-works-left {
  justify-self: start;
  background-color: #29313d;
  border-radius: 20px;
  height: 80vh;
  width: 130vh;
  margin-top: 5rem;
}
#works .flex-works #flex-works-left .date-box {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 15rem;
}

#testimonials {
  height: 50vh;
  background-color: #1f2632;
  position: relative;
  z-index: 0;
}
#testimonials .swiper-container {
  padding-top: 3.5rem;
  /* -webkit-box-reflect: below 4px linear-gradient(transparent 70%, #000009); */
}

#testimonials .swiper-slide .card {
  display: flex;
  margin: auto 15rem;
  background-color: #222a36;
  max-height: 35vh;
}

#connect {
  height: 100vh;
  background-color: #222a36;
  position: relative;
  padding-top: 5rem;
}
#connect .flex-connect,
#contact-me .flex-contact-me {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#connect .flex-connect #flex-connect-left h2,
#contact-me .flex-contact-me #flex-contact-me-left h2 {
  font-size: 83px;
  font-weight: bold;
  color: #fff;
}
#connect .flex-connect #flex-connect-left h1,
#contact-me .flex-contact-me #flex-contact-me-left h1 {
  z-index: 1;
}
#connect .flex-connect #flex-connect-left h2 span,
#contact-me .flex-contact-me #flex-contact-me-left h2 span {
  position: absolute;
  color: #3aafc9;
  font-weight: bolder;
  font-size: 100px;
  padding-top: 0.3rem;
}
#connect .flex-connect #flex-connect-left h2 #arrow-downward,
#contact-me .flex-contact-me #flex-contact-me-left h2 #arrow-downward {
  display: none;
}
#connect .flex-connect #flex-connect-right form .input,
#contact-me .flex-contact-me #flex-contact-me-right form .input {
  padding-bottom: 2rem;
}
#connect .flex-connect #flex-connect-right form .input input,
#connect .flex-connect #flex-connect-right form .input textarea,
#contact-me .flex-contact-me #flex-contact-me-right form .input input,
#contact-me .flex-contact-me #flex-contact-me-right form .input textarea {
  border: none;
  color: #9fa2a8;
  outline: none;
  font-size: 25px;
  background-color: #29313d;
  line-height: 2;
  padding: 1rem;
  width: 100%;
}
#connect .flex-connect #flex-connect-right form .input input::placeholder,
#connect .flex-connect #flex-connect-right form .input textarea::placeholder,
#contact-me
  .flex-contact-me
  #flex-contact-me-right
  form
  .input
  input::placeholder,
#contact-me
  .flex-contact-me
  #flex-contact-me-right
  form
  .input
  textarea::placeholder {
  color: #9fa2a8;
}
#connect .flex-connect #flex-connect-right form .input textarea,
#contact-me .flex-contact-me #flex-contact-me-right form .input textarea {
  resize: none;
  height: 30vh;
}
#connect .flex-connect #flex-connect-right form .button button,
#contact-me .flex-contact-me #flex-contact-me-right form .button button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #3aafc9;
  font-size: 35px;
  position: relative;
  pointer-events: all;
  cursor: pointer;
}
#connect .flex-connect #flex-connect-right form .button button .material-icons,
#contact-me
  .flex-contact-me
  #flex-contact-me-right
  form
  .button
  button
  .material-icons {
  color: #3aafc9;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 0.1rem;
  left: 4.5rem;
}

#footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.footer-background {
  background: #222a36;
  height: 27vh;
}
#footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
#footer .social .social-icons {
  background-color: #3e4651;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 0.5rem;
  cursor: pointer;
}
#footer .social .social-icons i {
  font-size: 30px;
  font-weight: bold;
  color: #1f2632;
  padding-top: 0.5rem;
}
#footer .copyrights {
  color: #3e4651;
  font-weight: bold;
  margin-top: 1rem;
}

/* ! ABOUT PAGE */
#about {
  height: 95vh;
  background-color: #222a36;
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
}
#about .flex-about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}
#about .flex-about-content .flex-about-left > div {
  padding-bottom: 2rem;
  position: relative;
}
#about .flex-about-content .flex-about-left h1 {
  font-size: 60px;
  font-weight: bold;
  color: #3aafc9;
}

#about .flex-about-content .flex-about-left div a span {
  font-size: 27px;
  font-weight: 500;
  position: absolute;
  top: 0.4rem;
  left: 7.5rem;
}
#about .flex-about-content .flex-about-right .img-box {
  max-width: 50%;
}
#about .flex-about-content .flex-about-right img {
  width: 100%;
}

#gallery {
  height: 150vh;
  background-color: #1f2632;
  position: relative;
  padding-top: 7rem;
  z-index: -1;
}
#gallery h1 {
  right: 20rem;
  top: 10rem;
}
#gallery h4,
#gallery p {
  margin-bottom: 1.5rem;
}
#gallery .gallery-grid {
  grid-column: full-start / full-end;
  display: grid;
  grid-template: repeat(7, 5vw) / repeat(8, 1fr);
  grid-gap: 0.5rem;
  padding: 1.5rem;
  margin-top: 5rem;
}
#gallery .gallery__item--1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
#gallery .gallery__item--2 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 3;
}
#gallery .gallery__item--3 {
  grid-row: 1 / span 2;
  grid-column: 6 / 7;
}
#gallery .gallery__item--4 {
  grid-row: 1 / span 2;
  grid-column: 7 / -1;
}
#gallery .gallery__item--5 {
  grid-row: 3 / span 3;
  grid-column: 1 / span 2;
}
#gallery .gallery__item--6 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}
#gallery .gallery__item--7 {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
}
#gallery .gallery__item--8 {
  grid-row: 3 / span 2;
  grid-column: 6 / span 2;
}
#gallery .gallery__item--9 {
  grid-row: 3 / span 3;
  grid-column: 8 / -1;
}
#gallery .gallery__item--10 {
  grid-row: 6 / span 2;
  grid-column: 1 / 2;
}
#gallery .gallery__item--11 {
  grid-row: 6 / span 2;
  grid-column: 2 / span 2;
}
#gallery .gallery__item--12 {
  grid-row: 6 / span 2;
  grid-column: 4 / 5;
}
#gallery .gallery__item--13 {
  grid-row: 5 / span 3;
  grid-column: 5 / span 3;
}
#gallery .gallery__item--14 {
  grid-row: 6 / span 2;
  grid-column: 8 / -1;
}
#gallery .gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about-foot {
  height: 25vh;
  background-color: #1f2632;
}
.contact-me-footer {
  height: 25vh;
  background-color: #222a36;
}

/* !my-blog */
#blog {
  position: relative;
  font-family: "Montserrat", sans-serif;
  padding: 2rem 0;
}
#blog-article {
  position: relative;
  padding: 3rem 0 0;
  width: 60%;
  margin: auto;
}
article {
  background-color: #1f2632;
  border-radius: 30px;
  box-shadow: 0px 2px 10px #00000056;
  padding: 40px 40px 20px;
  margin-bottom: 2rem;
}
.blog-post .title {
  color: #676cdb;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.blog-post .img-box {
  margin: 1rem 0;
  width: 100%;
}
.blog-post .img-box img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
.blog-post .text-article {
  color: #fff;
  font-size: 19px;
  line-height: 1.4;
}
.blog-post .text-article button {
  background-color: transparent;
  color: #676cdb;
  border: none;
  outline: none;
}
.blog-post .article-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0 0;
}
.blog-post .article-footer .flex-left {
  display: flex;
}
.blog-post .article-footer .flex-left button {
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 1rem;
  cursor: pointer;
}
.blog-post .article-footer .flex-left button #count {
  color: #3aafc9;
  font-size: 12px;
}
.blog-post .article-footer .flex-left .button-text,
.blog-post .article-footer .flex-left i {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.blog-post .article-footer .flex-right {
  display: flex;
}
.blog-post .article-footer .flex-right button {
  background-color: transparent;
  border: none;
  outline: none;
  padding-right: 1rem;
  padding-right: 1rem;
}
.blog-post .article-footer .flex-right button span,
.blog-post .article-footer .flex-right i {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.blog-post .article-footer .flex-right p {
  color: #3aafc9;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 2px;
}

/* !contact-me */
#contact {
  height: 40vh;
  background-color: #222a36;
  position: relative;
  padding-top: 2rem;
}
#contact-me {
  background-color: #222a36;
  height: 100vh;
}

/* ! MEDIA QUERY */

@media only screen and (max-width: 600px) {
  #skills {
    height: 240vh;
    background-color: #1f2632;
    position: relative;
    padding: 10em 0;
  }
  #skills .flex-skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5rem;
  }
  #skills .flex-skills .script-font {
    top: 5%;
    font-size: 60px;
  }
  #skills .flex-skills .flex-skills-left #skills-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  #skills .companies div {
    font-size: 20px;
    font-weight: 700;
    padding: 0 1rem;
  }
  #skills .flex-cards {
    padding-top: 3rem;
  }
  #skills .flex-cards #cards {
    margin-bottom: 2rem;
  }

  #works {
    height: 330vh;
    background-color: #222a36;
    position: relative;
    padding-top: 40rem;
    z-index: -1;
  }
  #works .script-font {
    top: 53rem;
    font-size: 60px;
  }
  #works .flex-works #flex-works-right .date-box {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    left: 12rem;
    top: 66rem;
  }
  #works .flex-works .date-box div:first-child {
    display: inline-block;
    background-color: #f1b457;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 0.8rem;
    z-index: 1;
  }
  #works .flex-works .date-box div:last-child {
    display: inline-block;
    background-color: #29313d;
    border-radius: 50px;
    color: #3e4651;
    font-weight: bold;
    font-size: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 0.6rem;
    position: absolute;
    z-index: -1;
    left: 2.1rem;
  }
  #works .flex-works #flex-works-right {
    background-color: #29313d;
    border-radius: 20px;
    justify-self: start;
    height: 60vh;
    width: 39vh;
    margin-top: 5rem;
  }
  #works .flex-works #flex-works-left {
    background-color: #29313d;
    border-radius: 20px;
    justify-self: start;
    height: 60vh;
    width: 39vh;
    margin-top: 9rem;
  }
  #works .flex-works #flex-works-left .date-box {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    right: 14rem;
    top: 99rem;
  }

  #connect {
    height: 120vh;
    background-color: #222a36;
    position: relative;
    padding-top: 5rem;
  }

  #connect .flex-connect,
  #contact-me .flex-contact-me {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #connect .flex-connect .script-font,
  #contact-me .flex-contact-me .script-font {
    font-size: 60px;
  }
  #connect .flex-connect #flex-connect-left h2,
  #contact-me .flex-contact-me #flex-contact-me-left h2 {
    font-size: 53px;
    font-weight: bold;
    color: #fff;
  }
  #connect .flex-connect #flex-connect-left h2 span,
  #contact-me .flex-contact-me #flex-contact-me-left h2 span {
    position: absolute;
    color: #3aafc9;
    font-weight: bolder;
    font-size: 60px;
    padding-top: 0.3rem;
  }
  #connect .flex-connect #flex-connect-left h2 #arrow-downward,
  #contact-me .flex-contact-me #flex-contact-me-left h2 #arrow-downward {
    display: inline-block;
  }
  #connect .flex-connect #flex-connect-left h2 #arrow-forward,
  #contact-me .flex-contact-me #flex-contact-me-left h2 #arrow-forward {
    display: none;
  }
  #connect .flex-connect #flex-connect-right,
  #contact-me .flex-contact-me #flex-contact-me-right {
    margin: 8rem 0;
  }
  #connect .flex-connect #flex-connect-right form .input input,
  #connect .flex-connect #flex-connect-right form .input textarea,
  #contact-me .flex-contact-me #flex-contact-me-right form .input input,
  #contact-me .flex-contact-me #flex-contact-me-right form .input textarea {
    border: none;
    color: #9fa2a8;
    outline: none;
    font-size: 18px;
    background-color: #29313d;
    line-height: 1;
    padding: 1rem 0.5rem;
    width: 100%;
  }

  /* !ABOUT PAGE */
  #about {
    height: 200vh;
    background-color: #222a36;
    position: relative;
    font-family: "Montserrat", sans-serif;
    padding: 2rem 0;
  }
  #about .flex-about-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5rem;
  }
  #about .flex-about-content .flex-about-left div a {
    display: block;
  }

  /* !contact-me PAGE */
  #contact {
    height: 40vh;
    background-color: #222a36;
    position: relative;
  }
  .contact-me-footer {
    background-color: #222a36;
    height: 30vh;
  }
  #contact-me .flex-contact-me .script-font {
    left: 1rem;
    font-size: 55px;
  }
  #contact-me {
    background-color: #222a36;
    height: 130vh;
  }
}
